.header__lang-links {
  padding: 0 0 8px;
  margin: 0;
  display: grid;
  grid-template-rows: none;
  grid-template-columns: repeat(2, max-content);
  grid-auto-flow: column;
  gap: 18px;
  list-style-type: none;
}
